<!-- 
<div ng-controller="NavigationController.main">
  <header class="bar-title">
    <a class="button-prev" href="#" ng-tap="back()">
      Back
    </a>
    <a class="icon pull-right" href="#">
      <img src="/images/icon-doctor.png" />
    </a>
    <h1 class="title detail-title">My Nutrition Stats</h1>
  </header>
</div> -->  

<div ng-controller="NutritionController.index">
  <div class="content">

    <!-- Stats Tab -->
    <div class="stats-tab">
      <ul class="segmented-controller">
        <li class="active">
          <a href="#today_stats">Today</a>
        </li>        
        <li>
          <a href="#weekly_stats">Weekly</a>
        </li>        
        <li>
          <a href="#monthly_stats">Monthly</a>
        </li>
        <li>
          <a href="#all_stats">All</a>
        </li>        
      </ul>        
    </div>

    <!-- Nutrient and Deficiency report -->      
    <ul class="inset list statistics">
      
      <!-- Calories, Tarffic-signal and Nutrients-donut -->
      <li class="statistics-calories">    
        <div class="calories">
          <label class="calories-value">42</label>
          <label class="calories-text">Cal</label>
        </div>        
        <div class="detailed">
          <div class="progress">
            <div class="bar bar-success" style="width: 50%;"></div>
            <div class="bar bar-warning" style="width: 30%;"></div>
            <div class="bar bar-danger" style="width: 10%;"></div>
          </div>
        </div>            
      </li>

      <li class="statistics-nutrients">
        <label>Nutrient Values</label>
        <div piechart class="chart nutrients-chart" ng-model='pie'
          flt-Chartoptions="{colors: ['#1abc9c', '#DF342E', '#C0D800']}">
        </div>  
      </li>
      
      <!-- Nutrients Deficiency  -->
      <li class="statistics-deficiency">
        <label>Deficiency Indicator</label>
        <div barchart class="chart deficiency-chart" ng-model='data'
          flt-Chartoptions="{colors: ['#1abc9c', '#DF342E', '#C0D800']}">
        </div>        
      </li>  
    </ul>      
    
  </div>  

</div>  